html {
   font-family: "Ms UI Gothic";
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
      -webkit-font-smoothing: none;
      font-size: 12px;
      cursor:url("/tsumihq/media/cursors/star.png"), auto
}
@font-face {
   font-family:1;
   src:url('/fonts/1.ttf')
}
@font-face {
   font-family:2;
   src:url('/fonts/.ttf')
}
@font-face {
   font-family:3;
   src:url('/fonts/.ttf')
}
@font-face {
   font-family:4;
   src:url('/fonts/.ttf')
}
@font-face {
   font-family:5;
   src:url('/fonts/.ttf')
}
